$contentBackground: null !default;

body {
  width: 100%;
  background: $bodyBackground;
}
#content {
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  background: $contentBackground;
}
@mixin h1Style ($h1Text) {
  text-transform: $h1Text;
}
h1 {
  color: $h1h2Background;
  text-align: center;
  &:nth-child(1) {
    padding-top: 20px;
  }
  @include h1Style ($h1Text);
}
h2 {
  color: $h1h2Background;
}
p {
  color: $textColor;
  font-size: $fontSize;
}
@mixin briefStyle ($briefWidth) {
  width: $briefWidth;
}
.brief {
  background-color: $briefBackground;
  padding: 20px;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  @include briefStyle ($briefWidth);
}
.img-right {
  float: right;
  margin-left: 20px;
  margin-top: 10px;
}
.img-left {
  float: left;
  margin-right: 20px;
  margin-bottom: 5px;
}
img {
  border: $borderImg;
  padding: 2px
}
a {
  color: $aColor;
  &:hover {
    color: $ahColor;
    text-decoration: none;
  }
}
caption {
  text-align: right;
}
table {
  border-spacing: 0;
}
th {
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  background-color: $thBackground;
  padding: 10px 0 10px 20px;
  &:nth-child(-n+2) {
    border-right: $thBorder;
  }
}
td {
  padding: 10px 10px 10px 20px;
  background-color: $tdBackground;
  color: $tdColor;
  border-bottom: $tdBorder;
}
.textInline {
  display: inline-block;
  width: 470px;
  &:nth-child(2) {
    margin-left: 15px;
  }
}
.textInline input {
  width: 100%;
  padding: 4px 0 4px 4px;
  margin: 8px 0 15px 0;
}
.allInline {
  display: inline-block;
  width: 958px;
  padding: 4px 0 4px 4px;
  margin: 8px 0 13px 0;
}
textarea {
  width: 960px;
  height: 150px;
  margin-top: 6px;
}
label {
  color: $labelColor;
}
@mixin buttonStyle ($submitBorder, $submitTextColor) {
  border: $submitBorder;
  color: $submitTextColor;
}
@mixin buttonHStyle ($bhBackground, $bhColor) {
  background-color: $bhBackground;
  color: $bhColor;
}
.send-button {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 230px;
  margin: 20px 0;
  button {
    display: block;
    margin: 0 auto;
    padding-top: 2px;
    width: 230px;
    height: 42px;
    background: transparent;
    font-size: 20px;
    @include buttonStyle ($submitBorder, $submitTextColor);
    &:hover {
      @include buttonHStyle ($bhBackground, $bhColor);
    }
  }
}