$contentBackground: #fff;
$bodyBackground: #dcbbbb;
$textColor: #000;
$fontSize: 16px;
$h1h2Background: #893c10;
$h1Text: none;
$briefBackground: #fadcbb;
$briefWidth: 380px;
$borderImg: 2px solid #893c10;
$aColor: #3d70a9;
$ahColor: #893c10;
$thBackground: #e0e0e0;
$tdBackground: #fff;
$tdColor: #000;
$tdBorder: 1px solid #e0e0e0;
$thBorder: 1px solid #fff;
$submitBorder: 1px solid #3d70a9;
$submitTextColor: #3d70a9;
$bhBackground: #3d70a9;
$bhColor: #fff;
$labelColor: #808080;