$contentBackground: #3b3b3b;
$bodyBackground: rgba(198, 238, 252, 0.53);
$textColor: #fff;
$fontSize: 16px;
$h1h2Background: #2dc6bc;
$h1Text: uppercase;
$briefBackground: #fff178;
$briefWidth: 920px;
$borderImg: 2px solid #2dc6bc;
$aColor: #f5c70f;
$ahColor: #bdddfc;
$thBackground: #94a34e;
$tdBackground: #677d01;
$tdColor: #fff;
$tdBorder: 1px solid #94a34e;
$thBorder: 1px solid #fff;
$submitBorder: 1px solid #2dc6bc;
$submitTextColor: #2dc6bc;
$bhBackground: #2dc6bc;
$bhColor: #3b3b3b;
$labelColor: #2dc6bc;